<%- include('header'); -%>


<div id="weather-output" class="mt-3">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 id="city-name" class="my-0 font-weight-normal"><%= name %></h4>

            </div>
            <div class="card-body">
                <h1 id="weather-type" class="card-title"><%= description %></h1>
                <div id='image'>
                    <img src = "<%= imageurl %>"></img>
                    
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Temp: <span id="temp"><%= temp %></span>°</li>
                    <li>Min Temp: <span id="min-temp"><%= mintemp %></span>°</li>
                    <li>Max Temp: <span id="max-temp"><%= maxtemp %></span>°</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>